certifi==2019.3.9
commonmark==0.8.1
data==0.4
Flask==1.0.2
funcsigs==1.0.2
future==0.17.1
gitdb2==2.0.5
grpcio==1.18.0
gunicorn==19.9.0
jedi==0.13.2
Jinja2==2.10
jmespath==0.9.4
matplotlib==3.0.2
mistune==0.8.4
nltk==3.4.1
numpy==1.15.4
pandas==0.24.0
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
Werkzeug==0.14.1
xgboost==0.82
